.modal-connect-lobby {
  width: 756px;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 3rem;

  @media (max-width: 900px) {
    width: 100%;
  }

  &__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &-name,
  &-last-name,
  &-job {
    display: flex;
    flex-direction: column;

    span {
      margin-bottom: 1rem;
    }
  }

  &-title {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 3rem;

    label {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 1rem;
    }
  }

  &-file {
    display: flex;
    flex-direction: row;
  }

  &-buttons {
    display: flex;
    justify-content: space-between;
  }
}
