.modal-connect-lobby {
  background-color: rosybrown;
  width: 876px;
  height: auto;
  display: flex;
  flex-direction: column;

  &-item {
    display: flex;
    flex-direction: column;
  }
}

.form-buttons{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form-avatar {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10rem;
}