.settings {
  width: 100%;
  max-width: 600px;
  margin-bottom: 30px;

  &-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;

    &-cards {
      flex-direction: column;
    }
  }
}
