.lobby-item {
  &__title {
    display: flex;
    justify-content: center;
    align-self: center;

    & > img {
      width: 18px;
      height: 18px;
      margin-left: 15px;
    }
  }
}

.scram-master,
.key-lobby,
.game-control {
  margin-top: 20px;

  & > p {
    margin-bottom: 6px;
  }
}

.key-lobby {
  &__copy {
    display: flex;
    align-items: center;
  }
}

.game-control {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
