.footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  left: 0px;
  bottom: 0px;
  z-index: 1;
  background: #2b3a67;
  padding: 20px 0 8px;

  &-wrapper {
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    width: 90%;
  }

  &-logo {
    width: 100px;
    height: auto;

    @media (max-width: 992px) {
      margin-bottom: 15px;
    }
  }

  &-github-list {
    margin: 0;
    list-style: none;
    column-count: 2;
  }

  &-github-item {
    color: #fff;
  }

  &-github-text {
    color: #fff;
    text-decoration: none;
  }

  &-date {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    width: 90%;
    padding: 0.5rem;
  }
}
