.card {
  position: relative;
  background: #ffffff;
  display: flex;
  align-items: center;
  width: 300px;
  height: 69px;
  box-shadow: 1px 1px 4px 0px #c7bebeab;
  padding: 8px 12px;
  border-radius: 2px;

  &-data {
    position: relative;
    width: 63%;
    height: 100%;

    &__you {
      position: absolute;
      top: 0;
    }

    &__name {
      position: absolute;
      top: 13px;
      overflow: hidden;
      width: 100%;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    &__position {
      position: absolute;
      top: 42px;
      overflow: hidden;
      width: 100%;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }

  &-remove {
    width: 30px;
    height: 30px;
    cursor: pointer;

    &:hover {
      transform: scale(1.2);
      transition: 0.5s;
    }

    &:active {
      transform: scale(0.6);
    }
  }
}
