@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ruda:wght@400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.fade-enter {
  opacity: 0;
  z-index: 1;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 250ms ease-in;
}

body {
  background-color: #e5e5e5;
}

$color1: #2b3a67;
$color2: #496a81;
$color3: #66999b;
$color4: #b3af8f;
$color5: #ffc482;

.wrapper {
  width: 100%;
  max-width: 1440px;
  display: flex;
  justify-content: center;
}

.text {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;
  color: #000000;

  &-title {
    font-weight: bold;
    font-size: 64px;
    line-height: 75px;
    text-align: center;

    &-big {
      font-weight: bold;
      font-size: 70px;
      line-height: 82px;
    }
  }

  &-big {
    font-weight: bold;
    font-size: 48px;
    line-height: 56px;
  }

  &-kick {
    font-size: 36px;
    line-height: 42px;
  }

  &-ruda {
    font-family: Ruda;
    font-weight: bold;
    line-height: 30px;

    &-small {
      font-weight: bold;
      font-size: 12px;
      line-height: 15px;
      color: rgba(0, 0, 0, 0.6);
    }
  }

  &-position {
    font-size: 9px;
    line-height: 10px;
  }

  &-small-uppercase {
    font-weight: bold;
    font-size: 10px;
    line-height: 12px;
    text-transform: uppercase;
  }

  &-bold {
    font-weight: bold;
  }

  &-italic {
    font-style: italic;
  }

  &-dark-green {
    color: #66999b;
  }

  &-error {
    color: #ff1818;
  }
}
